@import url("https://p.typekit.net/p.css?s=1&k=hmx4zlz&ht=tk&f=18109.18110.18111.18112&a=5893566&app=typekit&e=css");
@font-face {
    font-family: courier-std;
    src: url("https://use.typekit.net/af/fec4eb/0000000000000000000131bd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/fec4eb/0000000000000000000131bd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/fec4eb/0000000000000000000131bd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: courier-std;
    src: url("https://use.typekit.net/af/3741dd/0000000000000000000131be/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"), url("https://use.typekit.net/af/3741dd/0000000000000000000131be/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"), url("https://use.typekit.net/af/3741dd/0000000000000000000131be/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: courier-std;
    src: url("https://use.typekit.net/af/8143dd/0000000000000000000131bb/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/8143dd/0000000000000000000131bb/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/8143dd/0000000000000000000131bb/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: courier-std;
    src: url("https://use.typekit.net/af/d0381a/0000000000000000000131bc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/d0381a/0000000000000000000131bc/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/d0381a/0000000000000000000131bc/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
}

.courier {
    font-family: courier-std, monospace;
}

.space-mono {
    font-family: "Space Mono", monospace;
}

body {
    background: rgb(250, 241, 228);
}

.content {
    position: absolute;
    inset: 0px;
    margin: auto;
}

.container {
    position: relative;
    width: auto;
    max-width: 700px;
    height: min-content;
    padding: 30px 30px 80px;
    margin: 110px auto;
    border-radius: 13px;
    background: rgb(255, 249, 239);
    box-shadow: rgba(0, 0, 0, 0.008) 0px 10px 35px;
}

.journalTitle {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(60, 64, 59);
}

.journalInput {
    color: rgb(60, 64, 59);
    width: 100%;
    padding-bottom: 50px;
    border: none;
    font-weight: 400;
}

#matka-body a {
    cursor: pointer;
    color: #3b90a5;
}

*:focus {
    outline: none;
}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: rgb(187, 187, 187);
}

[placeholder]:empty:focus::before {
    content: "-";
    opacity: 0;
}


.toolbar {
    width: 100%;
    height: min-content;
    background: rgb(249, 239, 220);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr min-content;
    grid-template-areas: 'new view delete' 'list list list';
    border-radius: 10px;
}

.toolbar-item.view {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toolbar-item.new {
    height: 40px;
}

.toolbar-item {
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 0.8em;
    border-radius: 10px;
    transition: background 0.2s ease-in-out;
    text-align: center;
}

@media (max-width:  850px) {
    .toolbar-item, .filler {
        font-size: 0.5em;
    }
    .messages {
        width: calc(100% - 90px);
    }
}

.toolbar-item:hover {
    background: rgb(244, 234, 218);
}

.text-controls {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    background: rgb(249, 239, 220);
}
.text-controls-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.text-controls-search {
    margin: auto auto auto 10px;
    height: 30px;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #d0bd9c;
    text-indent: 4px;
    font-family: inherit;
}

.text-controls-search::placeholder {
    color: #ab9368;
}

.bold-text {
    font-weight: 700;
}
.italic-text {
    font-style: italic;
}
.underline-text {
    text-decoration: underline;
}
.strike-text {
    text-decoration: line-through;
}

kbd {
    user-select: none;
    text-align: left;
    cursor: pointer;
    font: inherit;
    vertical-align: baseline;
    box-sizing: inherit;
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: var(--theme-body-font-family);
    font-size: 11px;
    line-height: 1.4;
    color: #b19259;
    background-color: #f5f3ef;
    border: 1px solid #bdb5a8;
    border-radius: 3px;
    white-space: nowrap;
    box-shadow: 0 1px 2px rgb(206 204 200);
    transition: background .2s ease-in-out;
}

kbd:active {
    background-color: #ebe7df;
}

.manipulation {
    display: grid;
    margin-left: 10px;
    grid-template-columns: repeat(4, 33px) min-content 1fr;
    grid-auto-flow: column;
    column-gap: 7px;
    width: 100%;
}
.manipulation > button {
    cursor: pointer;
    margin: 9px 0px;
    width: 33px;
    color: #c7b69d;
    font-family: 'Space Mono';
    background: #fff9ef;
    border-radius: 7px;
    box-shadow: 0px 2px 20px #ecddc6;
    border: none;
    display: grid;
    place-items: center;

    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}
.manipulation > button.link-text, .manipulation > button.wider {
    width: min-content;
}

.manipulation > button.filler {
    width: auto;
    background: #fff9ef37;
    padding: 0;
    margin-right: 20px;
}

.manipulation > button:hover, .manipulation > button:active, .manipulation > button.selected {
    background: #dcd3c5;
    color: white;
}

.delete {
    color: #afa38e;
}

.save {
    cursor: not-allowed;

    position: absolute;
    left: 0px;
    bottom: 0px;
    width: calc(100% - 60px);

    border: none;
    border-radius: 10px;

    color: #90743f;
    background: rgb(239 200 129 / 20%);
    box-shadow: 0px 5px 25px #efc9823b;

    padding: 10px 0px;
    margin: 30px;

    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;

    transition: background 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.save.ready {
    cursor: pointer;
    background: rgb(239, 201, 129);
    box-shadow: 0px 5px 25px #efc982;
}
.save.ready:hover {
    color: #48340f;
}
.save.ready:active {
    transition: transform 0.1s ease-in-out;
    transform: scale(0.98);
}

.share {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 46%;
    border-radius: 0px 10px 10px 0px;
    background: rgb(249, 239, 220);
}

.save.zen, .share.zen, .toolbar.zen {
    color: #d2ccc3;
    background: rgba(249, 239, 220, 0.324);
    box-shadow: none;
}



.list {
    grid-area: list;
    padding: 10px 0 0 0;
    opacity: 1;
    height: min-content;
}

.list.hidden {
    display: none;
}

.toolbar-item.list:hover {
    background: inherit;
}

.list-item {
    width: 100%;
    height: 19px;
    padding: 10px 0;
    display: grid;
    place-items: center;
    list-style-type: none;
    transition: background 0.2s ease-in-out;
}

.list-item:not(:last-child) {
    border-bottom: 1px solid rgb(230 222 208);
}

.list-item:last-child {
    border-radius: 0 0 10px 10px;
}

.list-item:hover {
    background: rgb(244, 234, 218);
}

.user {
    display: none;
    position: absolute;
    top: 55px;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    color: #cebfa9;
}
.user span:not(:first-child) {
    cursor: pointer;
    color: #826c4c;
}

.google-button {
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);

    height: 40px;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
}

.google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}

.google-button__icon--plus {
    width: 27px;
}

.google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
}

.messages {
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    max-width: 540px;
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    transition: opacity 0.2s ease-in-out;
    background: rgb(255, 249, 239);
    padding: 20px 45px 20px 30px;
    border-radius: 10px;
}
.messages.show {
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 5px 35px #dcd3c3;
}
.messages::after {
    content: '×';
    position: absolute;
    top: 10px;
    right: 20px;
}

.view span.arrow {
    margin-top: 0px;
    margin-left: 10px;
}

.view span.arrow:not([class="arrow up"]):after {
    content: "▼";
}

.view span.arrow.up::after {
    content: "▲";
}